*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
body{
    color: white;
    min-height:100vh;
    background-image: url('./Images/jeremy-bishop-dvACrXUExLs-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: stretch;
}
.nightView{
    background-image: url('./Images/ryan-hutton-Jztmx9yqjBw-unsplash.jpg');
    background-size: cover;
    color: white;
}
.heading{
    display: none;
    margin: 2rem 2rem;
    flex-direction: column;
    width:80%;
    height: 200px;
}
.heading h4{
    width: 80%;
    display: flex;
    align-self: flex-start;
    font-size: 1.7rem;
}
.heading p{
    font-size: 1.4rem;
    margin-top: 1.7rem;
}
.header{
    height: 430px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: column;
    margin-left: 1rem;
}
.header button{
    display: flex;
    margin-right: 2rem;
    width: 6rem;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 26px;
    cursor: pointer;
    align-self: flex-start;
    outline: none;
}
#time_region{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#time_region p{
    font-size: 1.4rem;
    font-weight: 700;
    width: 80%;
}
#time_region #clock{
    font-size: 6rem;
}
img{
    background-size: cover;
    width: 100%;
}
#day_year,#day_week,#week_number,#timezone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
}
button .fa-chevron-circle-down{
    display: none;
}
.section{
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    display: none;
    min-height: 50vh;
    position: relative;
    bottom: 0;
    margin-top: 2rem;
    padding-top: 1rem;
    background-color:rgb(119, 112, 112);
}
.sectionColorNight{
    background-color: black;
    opacity: 0.5;
    color: white;
}
.sectionColorNight p{
    color: white;
}
.section p{
    color: white
}
.sun{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    cursor: pointer;
}
.sun .fa-moon-o{
    display: none;
}
#time_region .sun{
    font-size: 2.2rem;
    width: 200px;
}
#time_region .sun p{
    font-size: 1.5rem;
}
.sectionToggler{
    display: flex;
}
@media only screen and (max-width:899px) and (min-width:600px){
    .heading{
        display: flex;
    }
    .heading h4{
        max-width: 1000px;
        min-width: 500px;
        width: 100%;
    }
    .header{
        height: 300px;
        display: flex;
    }
    .header #time_region{
        height: 200px;
        margin-left: 1rem;
    }
    .header #time_region .sun{
        font-size: 2.7rem;
        min-width: 300px;
        max-width: 400px;
        width: 80%;
    }
    .header #time_region .sun p{
        font-size: 2.4rem;
    }
    .header button{
        display: flex;
        align-self: flex-end;
        justify-content: space-around;
    }
    .header button span{
        font-size: 1.5rem;
    }
    .section{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        margin-bottom: 0;
        justify-content: space-around;
        align-items: center;
        min-height: 60vh;
        width: 100%;
    }
    #day_year,#day_week,#week_number,#timezone{
        display: flex;
        flex-direction: column;
        height: 80px;
        width: 230px;
        align-items: center;
    }
    .sectionToggler{
        display: flex;
    }
    .section p{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
@media(min-width:900px){
    .heading{
        display: flex;
    }
    .heading p{
        font-size: 2rem;
    }
    .heading h4{
        max-width: 1500px;
        min-width: 500px;
        width: 100%;
        font-size: 2.4rem;
    }
    .header{
        height: 600px;
        display: flex;
    }
    .header #time_region{
        height: 500px;
        margin-left: 1rem;
        justify-content: space-around;
    }
    .header #time_region p{
        font-size: 2.2rem;
    }
    .header #time_region .sun{
        font-size: 3rem;
        min-width: 300px;
        max-width: 400px;
        width: 80%;
    }
    .header #time_region .sun p{
        font-size: 3rem;
    }
    .header button{
        display: flex;
        align-self: flex-end;
        justify-content: space-around;
        height: 6rem;
        width: 12rem;
        font-size: 2.2rem;
    }
    .header button span{
        font-size: 2.8rem;
    }
    .section{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        height: 500px;
        margin-bottom: 0;
        justify-content: space-between;
        align-items: center;
    }
    .section p{
        font-size: 1.3rem;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section span{
        font-size: 2rem;
        font-weight: 700;
    }
    #day_year,#day_week,#week_number,#timezone{
        display: flex;
        flex-direction: column;
        height: 120px;
    }
    .sectionToggler{
        display: flex;
    }
}